$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592px;

:root {
  
  --background-color: #797979;
  --light-grey: #D2CFCF;
  --grey: #5B5B5B;
  --border-grey: #4C4C4C;
  --hover-grey: #505050;
  --section-grey: #9D9D9D;
  --shadow-black: rgba(0, 0, 0, 0.5);
  --red: #7C0405;
  --dark-red: #5D0304;
  --white: #FFFFFF;
  --green: #6EC266;

}